.listItem{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid black;
}

.price{
    color:brown;
    font-weight: bold;
    font-size: 1.1rem;
}



.addBtn{
    background-color: brown;
    color:white;
}