.nav{
    background-color: brown;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    align-items: center;

}

.cartBtn{
    background-color: rgba(0,0,0,50%);
    color:white;
    font-size: 1.1rem;
}

.cartBtn span{
    margin-left:5px;
    padding:5px 10px;
    background-color: brown;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}