.inputDiv{
    margin:10px auto;
    text-align: center;
}

label{
    font-weight: bold;
    font-size: 1.1rem;
}

input{
    border:1px solid lightgray;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left:10px;
    padding:5px;
}